
* { text-align: center;
     background-color: rgb(68, 68, 68);
}
#lien {
    display: inline-block;
    margin: 15px;
    border: 2px solid rgb(231, 11, 11);
    border-radius: 5%
}
h1 {
    padding: 150px;
    background-image: url(pexels-krisztina-ajtai-2157633720-38792612.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.blanc {
    color:white
}