
* { text-align: center;
     background-color: rgb(68, 68, 68);
}
#lien {
    display: inline-block;
    margin: 15px;
    border: 2px solid rgb(231, 11, 11);
    border-radius: 5%
}
h1 {
    padding: 150px;
    background-image: url(pexels-baybiyik-37953046.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: rgb(252, 252, 252)
}
.blanc {
    color:rgb(89, 156, 100)
}